<a href="https://colab.research.google.com/github/RDE0509/mycodes/blob/main/Spark_joints.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions

In [ ]:
spark= SparkSession.builder.appName("test").getOrCreate()

In [ ]:
data = [["1", "sravan", "company 1"],
        ["2", "ojaswi", "company 1"], 
        ["3", "rohith", "company 2"],
        ["4", "sridevi", "company 1"], 
        ["5", "bobby", "company 1"]]

In [ ]:
columns = ['ID', 'NAME', 'Company']

# New Section

In [ ]:
df = spark.createDataFrame(data=data,schema=columns)

In [ ]:
df.show()

+---+-------+---------+
| ID|   NAME|  Company|
+---+-------+---------+
|  1| sravan|company 1|
|  2| ojaswi|company 1|
|  3| rohith|company 2|
|  4|sridevi|company 1|
|  5|  bobby|company 1|
+---+-------+---------+

In [ ]:
data1 = [["1", "45000", "IT"],
         ["2", "145000", "Manager"],
         ["6", "45000", "HR"],
         ["5", "34000", "Sales"]]

In [ ]:
columns1 = ['ID', 'salary', 'department']

In [ ]:
df1 = spark.createDataFrame(data1,columns1)

In [ ]:
df1.show()

+---+------+----------+
| ID|salary|department|
+---+------+----------+
|  1| 45000|        IT|
|  2|145000|   Manager|
|  6| 45000|        HR|
|  5| 34000|     Sales|
+---+------+----------+

In [ ]:
df3 = df.join(df1)

In [ ]:
df3.show()

+---+-------+---------+---+------+----------+
| ID|   NAME|  Company| ID|salary|department|
+---+-------+---------+---+------+----------+
|  1| sravan|company 1|  1| 45000|        IT|
|  1| sravan|company 1|  2|145000|   Manager|
|  2| ojaswi|company 1|  1| 45000|        IT|
|  2| ojaswi|company 1|  2|145000|   Manager|
|  1| sravan|company 1|  6| 45000|        HR|
|  1| sravan|company 1|  5| 34000|     Sales|
|  2| ojaswi|company 1|  6| 45000|        HR|
|  2| ojaswi|company 1|  5| 34000|     Sales|
|  3| rohith|company 2|  1| 45000|        IT|
|  3| rohith|company 2|  2|145000|   Manager|
|  4|sridevi|company 1|  1| 45000|        IT|
|  4|sridevi|company 1|  2|145000|   Manager|
|  5|  bobby|company 1|  1| 45000|        IT|
|  5|  bobby|company 1|  2|145000|   Manager|
|  3| rohith|company 2|  6| 45000|        HR|
|  3| rohith|company 2|  5| 34000|     Sales|
|  4|sridevi|company 1|  6| 45000|        HR|
|  4|sridevi|company 1|  5| 34000|     Sales|
|  5|  bobby|company 1|  6| 45000|        HR|
|  5|  bobby|company 1|  5| 34000|     Sales|
+---+-------+---------+---+------+----------+

In [ ]:
df3.count()

20

In [ ]:
df.join(df1,df.ID==df1.ID).show()

+---+------+---------+---+------+----------+
| ID|  NAME|  Company| ID|salary|department|
+---+------+---------+---+------+----------+
|  1|sravan|company 1|  1| 45000|        IT|
|  2|ojaswi|company 1|  2|145000|   Manager|
|  5| bobby|company 1|  5| 34000|     Sales|
+---+------+---------+---+------+----------+

In [ ]:
df.join(df1,df.ID==df1.ID,'left').show()

+---+-------+---------+----+------+----------+
| ID|   NAME|  Company|  ID|salary|department|
+---+-------+---------+----+------+----------+
|  1| sravan|company 1|   1| 45000|        IT|
|  2| ojaswi|company 1|   2|145000|   Manager|
|  3| rohith|company 2|null|  null|      null|
|  5|  bobby|company 1|   5| 34000|     Sales|
|  4|sridevi|company 1|null|  null|      null|
+---+-------+---------+----+------+----------+

In [ ]:
df.join(df1,df.ID==df1.ID,'right').show()

+----+------+---------+---+------+----------+
|  ID|  NAME|  Company| ID|salary|department|
+----+------+---------+---+------+----------+
|   1|sravan|company 1|  1| 45000|        IT|
|   2|ojaswi|company 1|  2|145000|   Manager|
|   5| bobby|company 1|  5| 34000|     Sales|
|null|  null|     null|  6| 45000|        HR|
+----+------+---------+---+------+----------+

In [ ]:
df.join(df1,df.ID==df1.ID,'outer').show()

+----+-------+---------+----+------+----------+
|  ID|   NAME|  Company|  ID|salary|department|
+----+-------+---------+----+------+----------+
|   1| sravan|company 1|   1| 45000|        IT|
|   2| ojaswi|company 1|   2|145000|   Manager|
|   3| rohith|company 2|null|  null|      null|
|   4|sridevi|company 1|null|  null|      null|
|   5|  bobby|company 1|   5| 34000|     Sales|
|null|   null|     null|   6| 45000|        HR|
+----+-------+---------+----+------+----------+

In [ ]:
df.join(df1,df.ID==df1.ID,'fullouter').show()

+----+-------+---------+----+------+----------+
|  ID|   NAME|  Company|  ID|salary|department|
+----+-------+---------+----+------+----------+
|   1| sravan|company 1|   1| 45000|        IT|
|   2| ojaswi|company 1|   2|145000|   Manager|
|   3| rohith|company 2|null|  null|      null|
|   4|sridevi|company 1|null|  null|      null|
|   5|  bobby|company 1|   5| 34000|     Sales|
|null|   null|     null|   6| 45000|        HR|
+----+-------+---------+----+------+----------+

In [ ]:
df.join(df1,df.ID==df1.ID,'full').show()

+----+-------+---------+----+------+----------+
|  ID|   NAME|  Company|  ID|salary|department|
+----+-------+---------+----+------+----------+
|   1| sravan|company 1|   1| 45000|        IT|
|   2| ojaswi|company 1|   2|145000|   Manager|
|   3| rohith|company 2|null|  null|      null|
|   4|sridevi|company 1|null|  null|      null|
|   5|  bobby|company 1|   5| 34000|     Sales|
|null|   null|     null|   6| 45000|        HR|
+----+-------+---------+----+------+----------+

In [ ]:
df.join(df1,df.ID==df1.ID,'cross').show()

+---+------+---------+---+------+----------+
| ID|  NAME|  Company| ID|salary|department|
+---+------+---------+---+------+----------+
|  1|sravan|company 1|  1| 45000|        IT|
|  2|ojaswi|company 1|  2|145000|   Manager|
|  5| bobby|company 1|  5| 34000|     Sales|
+---+------+---------+---+------+----------+

In [ ]:
df.join(df1,df.ID==df1.ID,'semi').show()

+---+------+---------+
| ID|  NAME|  Company|
+---+------+---------+
|  1|sravan|company 1|
|  2|ojaswi|company 1|
|  5| bobby|company 1|
+---+------+---------+