<a href="https://colab.research.google.com/github/RDE0509/mycodes/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [111]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
from pyspark.sql.functions import col,lit,split,bround,cast
from pyspark.sql import functions as f

In [38]:
spark= SparkSession.builder.appName('pyspark').getOrCreate()

In [7]:
data = [('10','Rohit','EE','MTech','JIT ','BHOPAL'),
('11','Rahul','CS','MTech','BIT ','INDORE'),
('12','Ramesh','AG','BTech','SIT ','JABALPUR'),
('13','Renu','EC','BTech','MIT ','UJJAIN'),
('14','Riya','CS','BTech','TIT ','BHOPAL'),
('15','Vaishnavi','CH','BTech','KIT ','RANCHI'),
('16','Shelly','BT','MTech','PIT ','GWALIOR'),
('17','Ashwini','DS','MTech','RGPV ','BHOPAL'),
('18','Sravanthi','DE','MTech','MEDICAPS ','INDORE'),
('19','Ajay','MECH','BTech','CGDI ','INDORE'),
('20','Karunesh','Mech','BTech','PCE ','SURAT'),
('21','Vinita','CE','MTech','IIT ','BOMBAY'),
('22','Ramya','EC','MTech','NIT ','JAIPUR'),
('23','Shobhita','CS','BTech','NIT ','TRICHY'),
('24','Vaitheeswari','HR','MBA','SDPC','DELHI'),
('25','Manobhi','BT','MTech','NIT ','CHANDIGARH'),
('26','Sushmita','CH','MTech','IIT ','MADRAS'),
('27','Maya','EE','BTech','IIIT ','KANCHIPURAM'),
('28','Mahesh','CS','MTech','KCIET ','BHUBNESHWAR'),
('29','Sreeram','ET','BTech','MPCE ','LUCKNOW'),
('30','Lovely','ENE','BTech','IIT ','DELHI')]

In [39]:
schema = StructType([ \
                     StructField('S.no',StringType(),True),\
                     StructField('S_Name',StringType(),True),\
                    StructField('Branch',StringType(),True),\
                     StructField('Course',StringType(),True),\
                     StructField('College',StringType(),True),\
                     StructField('Location',StringType(),True)\
                     ])

In [40]:
df = spark.createDataFrame(data= data, schema= schema)

In [41]:
df.printSchema()

root
 |-- S.no: string (nullable = true)
 |-- S_Name: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- Course: string (nullable = true)
 |-- College: string (nullable = true)
 |-- Location: string (nullable = true)

In [42]:
df.show()

+----+------------+------+------+---------+-----------+
|S.no|      S_Name|Branch|Course|  College|   Location|
+----+------------+------+------+---------+-----------+
|  10|       Rohit|    EE| MTech|     JIT |     BHOPAL|
|  11|       Rahul|    CS| MTech|     BIT |     INDORE|
|  12|      Ramesh|    AG| BTech|     SIT |   JABALPUR|
|  13|        Renu|    EC| BTech|     MIT |     UJJAIN|
|  14|        Riya|    CS| BTech|     TIT |     BHOPAL|
|  15|   Vaishnavi|    CH| BTech|     KIT |     RANCHI|
|  16|      Shelly|    BT| MTech|     PIT |    GWALIOR|
|  17|     Ashwini|    DS| MTech|    RGPV |     BHOPAL|
|  18|   Sravanthi|    DE| MTech|MEDICAPS |     INDORE|
|  19|        Ajay|  MECH| BTech|    CGDI |     INDORE|
|  20|    Karunesh|  Mech| BTech|     PCE |      SURAT|
|  21|      Vinita|    CE| MTech|     IIT |     BOMBAY|
|  22|       Ramya|    EC| MTech|     NIT |     JAIPUR|
|  23|    Shobhita|    CS| BTech|     NIT |     TRICHY|
|  24|Vaitheeswari|    HR|   MBA|     SDPC|      DELHI|
|  25|     Manobhi|    BT| MTech|     NIT | CHANDIGARH|
|  26|    Sushmita|    CH| MTech|     IIT |     MADRAS|
|  27|        Maya|    EE| BTech|    IIIT |KANCHIPURAM|
|  28|      Mahesh|    CS| MTech|   KCIET |BHUBNESHWAR|
|  29|     Sreeram|    ET| BTech|    MPCE |    LUCKNOW|
+----+------------+------+------+---------+-----------+
only showing top 20 rows

In [43]:
df1 = df.withColumnRenamed('S_name','Student_Name')

In [44]:
df1.show()

+----+------------+------+------+---------+-----------+
|S.no|Student_Name|Branch|Course|  College|   Location|
+----+------------+------+------+---------+-----------+
|  10|       Rohit|    EE| MTech|     JIT |     BHOPAL|
|  11|       Rahul|    CS| MTech|     BIT |     INDORE|
|  12|      Ramesh|    AG| BTech|     SIT |   JABALPUR|
|  13|        Renu|    EC| BTech|     MIT |     UJJAIN|
|  14|        Riya|    CS| BTech|     TIT |     BHOPAL|
|  15|   Vaishnavi|    CH| BTech|     KIT |     RANCHI|
|  16|      Shelly|    BT| MTech|     PIT |    GWALIOR|
|  17|     Ashwini|    DS| MTech|    RGPV |     BHOPAL|
|  18|   Sravanthi|    DE| MTech|MEDICAPS |     INDORE|
|  19|        Ajay|  MECH| BTech|    CGDI |     INDORE|
|  20|    Karunesh|  Mech| BTech|     PCE |      SURAT|
|  21|      Vinita|    CE| MTech|     IIT |     BOMBAY|
|  22|       Ramya|    EC| MTech|     NIT |     JAIPUR|
|  23|    Shobhita|    CS| BTech|     NIT |     TRICHY|
|  24|Vaitheeswari|    HR|   MBA|     SDPC|      DELHI|
|  25|     Manobhi|    BT| MTech|     NIT | CHANDIGARH|
|  26|    Sushmita|    CH| MTech|     IIT |     MADRAS|
|  27|        Maya|    EE| BTech|    IIIT |KANCHIPURAM|
|  28|      Mahesh|    CS| MTech|   KCIET |BHUBNESHWAR|
|  29|     Sreeram|    ET| BTech|    MPCE |    LUCKNOW|
+----+------------+------+------+---------+-----------+
only showing top 20 rows

In [45]:
df1.select('Student_Name','Branch','Course').show()

+------------+------+------+
|Student_Name|Branch|Course|
+------------+------+------+
|       Rohit|    EE| MTech|
|       Rahul|    CS| MTech|
|      Ramesh|    AG| BTech|
|        Renu|    EC| BTech|
|        Riya|    CS| BTech|
|   Vaishnavi|    CH| BTech|
|      Shelly|    BT| MTech|
|     Ashwini|    DS| MTech|
|   Sravanthi|    DE| MTech|
|        Ajay|  MECH| BTech|
|    Karunesh|  Mech| BTech|
|      Vinita|    CE| MTech|
|       Ramya|    EC| MTech|
|    Shobhita|    CS| BTech|
|Vaitheeswari|    HR|   MBA|
|     Manobhi|    BT| MTech|
|    Sushmita|    CH| MTech|
|        Maya|    EE| BTech|
|      Mahesh|    CS| MTech|
|     Sreeram|    ET| BTech|
+------------+------+------+
only showing top 20 rows

In [46]:
df2 = df1.withColumn('ExamForm Status',lit('Submitted'))

In [93]:
df2.show()

+----+------------+------+------+---------+-----------+---------------+
|S.no|Student_Name|Branch|Course|  College|   Location|ExamForm Status|
+----+------------+------+------+---------+-----------+---------------+
|  10|       Rohit|    EE| MTech|     JIT |     BHOPAL|      Submitted|
|  11|       Rahul|    CS| MTech|     BIT |     INDORE|      Submitted|
|  12|      Ramesh|    AG| BTech|     SIT |   JABALPUR|      Submitted|
|  13|        Renu|    EC| BTech|     MIT |     UJJAIN|      Submitted|
|  14|        Riya|    CS| BTech|     TIT |     BHOPAL|      Submitted|
|  15|   Vaishnavi|    CH| BTech|     KIT |     RANCHI|      Submitted|
|  16|      Shelly|    BT| MTech|     PIT |    GWALIOR|      Submitted|
|  17|     Ashwini|    DS| MTech|    RGPV |     BHOPAL|      Submitted|
|  18|   Sravanthi|    DE| MTech|MEDICAPS |     INDORE|      Submitted|
|  19|        Ajay|  MECH| BTech|    CGDI |     INDORE|      Submitted|
|  20|    Karunesh|  Mech| BTech|     PCE |      SURAT|      Submitted|
|  21|      Vinita|    CE| MTech|     IIT |     BOMBAY|      Submitted|
|  22|       Ramya|    EC| MTech|     NIT |     JAIPUR|      Submitted|
|  23|    Shobhita|    CS| BTech|     NIT |     TRICHY|      Submitted|
|  24|Vaitheeswari|    HR|   MBA|     SDPC|      DELHI|      Submitted|
|  25|     Manobhi|    BT| MTech|     NIT | CHANDIGARH|      Submitted|
|  26|    Sushmita|    CH| MTech|     IIT |     MADRAS|      Submitted|
|  27|        Maya|    EE| BTech|    IIIT |KANCHIPURAM|      Submitted|
|  28|      Mahesh|    CS| MTech|   KCIET |BHUBNESHWAR|      Submitted|
|  29|     Sreeram|    ET| BTech|    MPCE |    LUCKNOW|      Submitted|
+----+------------+------+------+---------+-----------+---------------+
only showing top 20 rows

In [48]:
df2.filter(col('Location') =='INDORE').show()

+----+------------+------+------+---------+--------+---------------+
|S.no|Student_Name|Branch|Course|  College|Location|ExamForm Status|
+----+------------+------+------+---------+--------+---------------+
|  11|       Rahul|    CS| MTech|     BIT |  INDORE|      Submitted|
|  18|   Sravanthi|    DE| MTech|MEDICAPS |  INDORE|      Submitted|
|  19|        Ajay|  MECH| BTech|    CGDI |  INDORE|      Submitted|
+----+------------+------+------+---------+--------+---------------+

In [50]:
df2.where(col('Branch')=='EE').show()

+----+------------+------+------+-------+-----------+---------------+
|S.no|Student_Name|Branch|Course|College|   Location|ExamForm Status|
+----+------------+------+------+-------+-----------+---------------+
|  10|       Rohit|    EE| MTech|   JIT |     BHOPAL|      Submitted|
|  27|        Maya|    EE| BTech|  IIIT |KANCHIPURAM|      Submitted|
+----+------------+------+------+-------+-----------+---------------+

In [51]:
df

DataFrame[S.no: string, S_Name: string, Branch: string, Course: string, College: string, Location: string]

In [106]:
df3 = df.withColumnRenamed('S.no',"id")

In [107]:
df3.show()

+---+------------+------+------+---------+-----------+
| id|      S_Name|Branch|Course|  College|   Location|
+---+------------+------+------+---------+-----------+
| 10|       Rohit|    EE| MTech|     JIT |     BHOPAL|
| 11|       Rahul|    CS| MTech|     BIT |     INDORE|
| 12|      Ramesh|    AG| BTech|     SIT |   JABALPUR|
| 13|        Renu|    EC| BTech|     MIT |     UJJAIN|
| 14|        Riya|    CS| BTech|     TIT |     BHOPAL|
| 15|   Vaishnavi|    CH| BTech|     KIT |     RANCHI|
| 16|      Shelly|    BT| MTech|     PIT |    GWALIOR|
| 17|     Ashwini|    DS| MTech|    RGPV |     BHOPAL|
| 18|   Sravanthi|    DE| MTech|MEDICAPS |     INDORE|
| 19|        Ajay|  MECH| BTech|    CGDI |     INDORE|
| 20|    Karunesh|  Mech| BTech|     PCE |      SURAT|
| 21|      Vinita|    CE| MTech|     IIT |     BOMBAY|
| 22|       Ramya|    EC| MTech|     NIT |     JAIPUR|
| 23|    Shobhita|    CS| BTech|     NIT |     TRICHY|
| 24|Vaitheeswari|    HR|   MBA|     SDPC|      DELHI|
| 25|     Manobhi|    BT| MTech|     NIT | CHANDIGARH|
| 26|    Sushmita|    CH| MTech|     IIT |     MADRAS|
| 27|        Maya|    EE| BTech|    IIIT |KANCHIPURAM|
| 28|      Mahesh|    CS| MTech|   KCIET |BHUBNESHWAR|
| 29|     Sreeram|    ET| BTech|    MPCE |    LUCKNOW|
+---+------------+------+------+---------+-----------+
only showing top 20 rows